<!doctype html>
<html>
<head>
	<title>CSS Audit for {{file}}</title>
	<style>
		html {
			font-family: sans-serif;
		}

		h1,h2,h3,h4 {
			font-weight: 300;
		}
	</style>
</head>
<body>
	<h1>CSS Audit</h1>

	<h2>Stylesheets audited</h2>
	<ul>
		{{#stylesheets}}<li>{{.}}</li>{{/stylesheets}}
	</ul>

	<p>Total selectors: {{totalSelectors}}</p>
	<p>Total URLs: {{totalUrls}}</p>

	<h3>Selector usage</h3>

	<table>
		<thead><tr><th>Selector</th><th>Uses</th><th>Stylesheet</th></tr></thead>
		<tbody>
		{{#results}}
		<tr>
			<td>{{selector}}</td>
			<td><a href="#{{id}}">{{used}}</a></td>
			<td>{{#stylesheets}}{{.}}{{/stylesheets}}</td>
		</tr>
		{{/results}}
		</tbody>
	</table>

	<h3>Page usage</h3>

	{{#results}}
		<h4 id="{{id}}">Pages where <code>{{selector}}</code> was used</h4>
		<ul>
			{{#urls}}
			<li><a href="{{.}}">{{.}}</a></li>
			{{/urls}}
		</ul>
	{{/results}}
</body>
</html>
